node_modules/
artifacts/
cache/
.DS_Store
*.swp
*.txt
yarn-error.log

dist/
src/types/
abi/
export/
.openzeppelin/
deployments/localhost
deployments/hardhat

.env
.env.production
.env.staging

coverage.json
coverage/